{% extends 'base.html'%}
{% block content%}

{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="text-{{message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor%}
        </ul>
    {% endif %}
    {% if questions%}
        {% for question in questions%}
        <p  style="color: dodgerblue;">username : {{ users }}</p>      
        <p>Question : {{question.question}}</P>
        {%endfor%}
    {% endif %}

{% endblock %}